.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content{
  max-width: 600px;
  margin: 20px auto;
}

/* <--NAVBAR --> */
.navbar a{
  padding: 22px;
}

/* <--EXPENSES --> */

.expensePreview{
  
  border-radius: 10px;
  margin: 10px auto;
  padding: 1px 0;
  max-width: 70%;
  text-align: left;
}

.expenseName, .expenseAmount, .expenseCategory{
  margin-left: 10px;
}

.expenseAmount, .expenseCategory{
  margin-top: 0px;
  margin-bottom: 0px;
}

#loadingWheel {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #18ac15; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 40px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
